<h3>Astronauts:</h3>
<% @astronauts.each do |astronaut|%>
  <section id="astronaut-<%= astronaut.id %>">
    <h4><%= astronaut.details %></h4>
    <h5>Missions:</h5>
    <ul>
      <% astronaut.missions.alpha_sort.each do |mission| %>
        <li><%= mission.title %></li>
      <% end %>
    </ul>
  </section>
<% end %>

<p>Average Age: <%= @astronauts.average_age %></p>
